@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-link: #155dfc;
  --color-hover: #e4e4e7;

  --color-bg-dark: #1d1d1d;
  --color-text-dark: #ffffff;
  --color-link-dark: #155dfc;
  --color-hover-dark: #36363a;


  --color-pill-body: #dcfce7;
  --color-pill-text: #008236;
  --color-pill-body-dark: #016630;
  --color-pill-text-dark: #7bf1a8;
}

@font-face {
  font-family: "Zalando Sans";
  src: url("./ZalandoSans.ttf");
}

html {
  font-family: "Zalando Sans", sans-serif;
  scroll-behavior: smooth;
}

/* Hide Scrollbars */
html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}